* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat" sans-serif;
  /* border: 1px solid red; */
}
/* root */
:root {
  --primary-color: #734d12;
  --secondary-color: #eb8d4c;
  /* background */
  --first-bg: #fff;
  --second-bg: #8a4516;
  /* text-color */
  --text-brown: #411d07;
  --text-white: #fff;
  --text-semi-white: #dfdfdf;
}
/* general */
body {
  color: var(--text-brown);
  background: var(--primary-color) !important;
}
section {
  /* background: var(--second-bg); */
  background: #fff;
}
h2 {
  font-size: 50px;
  width: fit-content;
  margin: 0 auto;
  font-weight: 700;
  /* border-bottom: 5px solid var(--secondary-color); */
}
.subtitles {
  font-size: 23px;
  /* color: var(--text-white); */
}
img {
  height: 270px !important;
  width: 100%;
  object-fit: cover;
}
textarea {
  max-height: 500px;
}

.main-btn {
  display: inline-block;
  border-radius: 50px;
  transition: all 0.4s ease-in-out;
  padding: 10px 27px;
  background-color: transparent;
  border: 2px solid var(--secondary-color);
  color: var(--text-white);
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
}
.main-btn:hover {
  background-color: var(--first-bg);
  border-color: var(--primary-color);
  color: var(--text-brown);
}
/* navbar */
header .navbar {
  background: #efc384 !important;
}
.navbar-brand img {
  height: 70px !important;
  width: 120px !important;
}
header .nav-item .nav-link {
  position: relative;
  /* font-size: 16px; */
  font-weight: 500;
  /* display: inline-block; */
}
header .nav-item .nav-link::after {
  position: absolute;
  content: "";
  left: 0;
  width: 0;
  height: 2px;
  background: var(--primary-color);
  transition: 0.3s;
  bottom: 0;
}
header .nav-item .nav-link .active::after,
header .nav-item .nav-link:hover::after {
  width: 100%;
}
/* banner section */
#banner {
  background: var(--second-bg);
}
#banner img {
  /* background: url(images/banner.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto; */
  height: 70vh !important;
  object-fit: cover;
}
/* origin */
#origin,
form {
  background: var(--primary-color) !important;
}
.form-img img {
  height: 450px !important;
}
#origin img {
  height: 450px !important;
  border-radius: 10px;
}
/* missions */
#missions .row {
  background: var(--second-bg) !important;
  color: var(--text-white);
}
/* founder */
#testimonials {
  margin: 100px 0;
}
.testimonials {
  border-left: 4px solid var(--primary-color);
  margin-top: 50px;
  margin-bottom: 50px;
}
.testimonials img {
  height: 60px !important;
  width: 60px !important;
  border-radius: 50%;
  margin: 0 10px;
}
.user-details {
  display: inline-block;
  font-size: 12px;
}
/* teams */
#team {
  background: var(--second-bg) !important;
}
