* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat" sans-serif;
  /* border: 1px solid red; */
}
/*---------------------------- root ----------------------------*/
:root {
  --primary-color: #734d12;
  --secondary-color: #eb8d4c;
  /* background */
  --first-bg: #fff;
  --second-bg: #8a4516;
  /* text-color */
  --text-brown: #411d07;
  --text-white: #fff;
  --text-semi-white: #dfdfdf;
}
/*---------------------------- general ----------------------------*/
body {
  color: var(--text-brown);
  background: var(--primary-color) !important;
}
section {
  background: #fff;
}
h2 {
  font-size: 50px;
  width: fit-content;
  margin: 0 auto;
  font-weight: 700;
}
.subtitles {
  font-size: 23px;
}
#team img,
#contacts img {
  width: 100%;
  object-fit: cover;
}
.origin-img {
  object-fit: contain;
}
textarea {
  max-height: 500px !important;
}

.main-btn {
  display: inline-block;
  border-radius: 50px;
  transition: all 0.4s ease-in-out;
  padding: 10px 27px;
  background-color: transparent;
  border: 2px solid var(--secondary-color);
  color: var(--text-white);
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
}
.main-btn:hover {
  background-color: var(--first-bg);
  border-color: var(--primary-color);
  color: var(--text-brown);
}
/*---------------------------- navbar ----------------------------*/
header .navbar {
  background: #fff !important;
}
.navbar-brand img {
  height: 80px !important;
  width: 110px !important;
}
.header-scrolled {
  border-bottom: 1px solid;
  box-shadow: 5px 5px 5px;
}
header .nav-item .nav-link {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  color: var(--text-brown);
}
header .nav-item .nav-link::after {
  position: absolute;
  content: "";
  left: 0;
  width: 0;
  height: 2px;
  background: var(--primary-color);
  transition: 0.3s;
  bottom: 0;
}
.active {
  color: var(--text-brown) !important;
}
header .nav-item .nav-link .active::after,
header .nav-item .nav-link:hover::after {
  width: 100%;
}
/*--------------------------- banner section ---------------------------*/
#banner {
  background: var(--primary-color);
}
#banner img {
  height: 80vh !important;
  object-fit: cover;
}
/*------------------------------- origin -------------------------------*/
#origin,
form {
  background: var(--primary-color) !important;
}
.form-img img {
  height: 450px !important;
}
#origin img {
  height: 450px !important;
  border-radius: 10px;
}
/*----------------------------- missions -----------------------------*/
#missions .row {
  background: var(--second-bg) !important;
  color: var(--text-white);
}
/*------------------------------ founder ------------------------------*/
.testimonials {
  border-left: 4px solid var(--primary-color);
  margin-top: 50px;
  margin-bottom: 50px;
}
.testimonials img {
  height: 60px !important;
  width: 60px !important;
  border-radius: 50%;
  margin: 0 10px;
}
.user-details {
  display: inline-block;
  font-size: 12px;
}
/*------------------------------- teams -------------------------------*/
#team {
  background: var(--second-bg) !important;
}
/*---------------------------- departements ----------------------------*/
#departments .card {
  min-height: 300px;
  background-color: var(--first-bg);
  cursor: pointer;
  transition: transform 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
}
#departments .card:hover {
  box-shadow: 0px 2px 7px 0 var(--primary-color) !important;
  transform: translateY(-2px);
  background: var(--primary-color);
  color: var(--text-white);
}
/*---------------------------- footer ----------------------------*/
footer img {
  height: 30px !important;
  width: 30px !important;
  object-fit: cover;
  border-radius: 50%;
}
.description {
  font-size: 12px;
  font-weight: 500;
  color: var(--text-white);
}
.yysa {
  font-size: 20px;
  font-weight: 500;
}
h6 {
  text-decoration: underline;
  margin-bottom: 20px;
}
footer a {
  color: var(--text-white);
  text-decoration: none;
}
footer a:hover {
  color: var(--text-white);
  text-decoration: underline;
}
footer i {
  padding: 5px;
  border-radius: 50%;
  background: var(--first-bg);
  color: var(--text-brown);
}
@media screen and (max-width: 638px) {
  h2 {
    font-size: 32px;
  }
  .subtitles,
  li {
    font-size: 12px;
  }
}
